[project]
name = "rpcats"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "requests>=2.32.5",
    "setuptools>=82.0.0",
]

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]
